// Selo

#selo
    display flex; align-items center; position absolute; top 0; right 20px
    p
        color $azul
    img
        width 90px; margin 0 10px

+tablet-1024()
    #selo
        position static; display flex; flex-direction column; align-items center; justify-content center;
        img
            order 1
        p
            order 2

+mobile-600()
    #selo
        padding 0 40px