// 
// Imports
// 
@import 'imports/_variables'
@import 'imports/_mixins'
@import 'imports/_fonts'
@import 'imports/_keyframes'
@import 'imports/_resets'
@import 'imports/_forms'
@import 'imports/_icones'
@import 'imports/_geral'

// 
// Shareds
// 
@import 'partials/*'

// 
// Pages
// 
@import 'pages/home/*'