// Saldo vpc

// #saldoVpc
#saldoVpc
	.saldos
		display flex; align-items center; justify-content center; max-width 1200px; background #f9f9fb; margin 0 auto 15px
		li
			padding 16px 38px; list-style none; max-height 70px; width 100%;
			span, p
				color #4a4a4a
			p
				font-size rem(18); text-align left;
			span
				font-size rem(12); text-transform uppercase
