// 
// Fonts
// 

// 
// Exemplo
// 
// @font-face
// 	font-family 'Exemplo';
// 	src url('../../fonts/web/Exemplo/exemplo-regular.eot');
// 	src url('../../fonts/web/Exemplo/exemplo-regular.eot?#iefix') format('embedded-opentype'),
// 		url('../../fonts/web/Exemplo/exemplo-regular.woff2') format('woff2'),
// 		url('../../fonts/web/Exemplo/exemplo-regular.woff') format('woff'),
// 		url('../../fonts/web/Exemplo/exemplo-regular.ttf') format('truetype');
// 	font-weight 400;
// 	font-style normal;
